{
  "extends": "./node_modules/@kaliber/eslint-plugin/.eslintrc",
  "rules": {
    "@kaliber/no-relative-parent-import": "off",
    "import/no-unresolved": "off"
  },
  "settings": {
      "@kaliber/eslint-plugin/lib/absolute-path-resolver-plugin": null
  }
}
